:root {
  --primaryColor: #f09d51;
  --mainWhite: #fff;
  --mainBlack: #222;
  --mainGrey: #ececec;
  --mainSpacing: 0.1rem;
  --mainTransition: all 0.2s linear;
  /* --basketBtn: rgb(19, 160, 255); */
  --basketBtn: #f09d51
}

.hidden {
  display: none;
}

label {
  margin-bottom: 10px;
  display: block;
}
/* --------------- Header ---------------- */
header{
  width: 100%;
  height: 100px;
  border-bottom: 2px solid #e5e5e5;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header ul li{
  list-style: none;
  padding: 20px;
  margin: 10px;
  float: left;
  font-size: 20px;
  border-radius: 35px;
  /*background: red;*/

}
header ul li a{
  color: inherit;
  text-decoration: none;
}
header ul li.active{
  background: var(--gra);
}
header ul li.active a{
  color: white;
  font-weight: bold;
}
#filter-label{
  font-size: 1.2rem;
  color: var(--mainBlack);

}
/* --------------- End of Header ---------------- */

/* --------------- Navbar ---------------- */
.navbar {
  position: sticky;
  top: 0;
  height: 60px;
  width: 100%;
  display: flex;
  align-items: center;
  background: rgb(156, 156, 155);
  z-index: 1;
}
.navbar-center {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1.5rem;
}

.nav-icon {
  font-size: 1.25rem
}

.basket-btn{
  position: relative;
  cursor: pointer;
}

.basket-quantity{
  position: absolute;
  bottom: 0.5rem;
  left: 1rem;
  color: white;
  background-color: rgb(206, 136, 5);
  border-radius: 30%;
  padding: 0 4px;
}

 .btn-login, .btn-logout{
  border: solid 4px red;
  cursor: pointer;
}

/* Products */

.our-products {
  cursor: pointer;
  width: fit-content;
}

/* .products-container {
  display: grid;
  width: 90vw;
  max-width: 1170px;
  margin: 0 auto;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
} */

.item {
  margin: 2px;
  border: 1px solid grey;
  height: auto;
  width: auto;
  float: left;
  text-align: center;
}

.item .item-container{
  display: grid;
  /* width: 90vw; */
  height: 32vw;
  max-width: 1170px;
  margin: 0 auto;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  position:relative;
} 

.item img{
  width: 250px;
  height: 250px;
  display: inline;
  margin: 3px;
}
.item img:hover {
  border: 1px solid yellow;
}

.product-img{
  border: 1px solid red;
}
.item .fa-plus-square{
  font-weight: 200;
  font-size: 1.2em ;
}

.item .item-container .product-info{
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 15% .75rem .75rem .75rem;
  background-color: transparent;
  background-position-y: -1px;
  text-align: left;
}


.item .item-container .add-to-basket{
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 30px;
  right: 10px;

  position: absolute;
}

.btn{
  border: none;
  border-radius: 8px;
  cursor: pointer;
  color: var(--mainWhite)
}
.btn-atb{
  background-color: var(--primaryColor);
  padding: 10px;
  text-align: center;
}

/* ---------------End of Products ---------------- */
/* --------------- basket ---------------- */
  .basket-overlay {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  transition: var(--mainTransition);
  background: rgb(240, 157, 81, 0.5);
  z-index: 2;
  visibility: hidden;
}
.basket {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  overflow: scroll;
  z-index: 3;
  background: rgb(231, 226, 221);
  padding: 1.5rem;
  transition: var(--mainTransition);
  transform: translateX(100%);
} 
/* Dynamically added with JS */
.showBasket {
  transform: translateX(0);
}
.transparentBcg {
  visibility: visible;
}
@media screen and (min-width: 768px) {
  .basket {
    width: 30vw;
    min-width: 450px;
  }
}

.close-basket {
  font-size: 1.7rem;
  cursor: pointer;
}
.basket h2 {
  text-transform: capitalize;
  text-align: center;
  letter-spacing: var(--mainSpacing);
  margin-bottom: 2rem;
}
/*---------- basket Item -------------------- */
.basket-item {
  display: grid;
  align-items: center;
  grid-template-columns: auto 1fr auto;
  grid-column-gap: 1.5rem;
  margin: 1.5rem 0;
}
.basket-item img {
  width: 75px;
  height: 75px;
}
.basket-item h4 {
  font-size: 0.85rem;
  text-transform: capitalize;
  letter-spacing: var(--mainSpacing);
}
.basket-item h5 {
  margin: 0.5rem 0;
  letter-spacing: var(--mainSpacing);
}
.item-amount {
  text-align: center;
}
.remove-item {
  color: grey;
  cursor: pointer;
}
.fa-chevron-up,
.fa-chevron-down {
  color: var(--basketBtn);
  cursor: pointer;
}
/*---------- End of basket Item -------------------- */

.basket-footer {
  margin-top: 2rem;
  letter-spacing: var(--mainSpacing);
  text-align: center;
}
.basket-footer h3 {
  text-transform: capitalize;
  margin-bottom: 1rem;
}

/* --------------- End of basket ---------------- */