:root {
  --primaryColor: #f09d51;
  --mainWhite: #fff;
  --mainBlack: #222;
  --mainGrey: #ececec;
  --mainSpacing: 0.1rem;
  --mainTransition: all 0.2s linear;
  --basketBtn: #f09d51;
  font-size: 0.8rem;
  font-family: "Josefin Sans", sans-serif;
  box-sizing: border-box;

  /* ADMIN */
  --sidebar-bgColor: #7889a4;
  --sidebar-bgColor-hover: #683fbf;
  --sidebar-txtColor: #dde9f8;
  --sidebar-headingColor: #7889a4;
  --page-content-bgColor: #f0f1f6;
  --page-content-txtColor: #171616;
  --page-content-blockColor: #fff;
  --icon-color: #f29441;
}



html,
body {
  max-width: 100%;
  overflow-x: hidden;
}

/* TODO: dark mode - prefers-color-scheme*/

.hidden {
  display: none;
}

label {
  margin-bottom: 10px;
  display: block;
}

/* --------------- Filters ---------------- */
.filters {
  width: 100%;
  height: 100px;
  border-bottom: 2px solid #e5e5e5;
  display: flex;
  align-items: center;
  padding: 2rem;
}

.filter {
  padding: 1.1rem;
}

.filters ul li {
  list-style: none;
  padding: 20px;
  margin: 10px;
  float: left;
  font-size: 20px;
  border-radius: 35px;
}

.filters ul li a {
  color: inherit;
  text-decoration: none;
}

.filters ul li.active {
  background: var(--gra);
}

.filters ul li.active a {
  color: white;
  font-weight: bold;
}

#filter-label {
  font-size: 1.2rem;
  color: var(--mainBlack);
}

/* --------------- End of Header ---------------- */

/* --------------- Navbar ---------------- */

.navbar {
  position: relative;
  width: 100%;
  top: 0;
  left: 0;
  height: 70px;
  border-bottom: 1px solid #f2f2f2;
  background-color: white;
  background: rgb(156, 156, 155);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
  transition: top 0.3s;
  padding: 0 5%;
}

.hide-nav {
  /* TODO: use navbarHeight variable */
  top: -70px;
  ;
}

.navbar-content {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 0 1.5rem;
}

.logo {
  font-size: 26px;
  font-weight: 800;
}

.logo:hover {
  cursor: pointer;
}

.menu-container {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  font-size: 1.8rem;
}

.menu-icons-container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu-item {
  margin: 2rem;
  cursor: pointer;
  font-weight: 600;
}

.basket-btn {
  position: relative;
  cursor: pointer;
  font-size: 2.3rem;

}



.basket-quantity {
  position: absolute;
  bottom: 1.5rem;
  left: 2.1rem;
  color: white;
  background-color: rgb(206, 136, 5);
  border-radius: 30%;
  padding: 0 4px;
  font-size: 1.6rem;

}

#btn-login {
  cursor: pointer;
  margin: 2rem;
}

.non-visible {
  visibility: hidden;
}

#login-icon {
  width: 60px;
  height: 60px;
  border-radius: 100px;
  background: var(--primaryColor);
  display: none;
}

/* Overrides display none above */
.display {
  display: block !important;
}

#login-icon:hover {
  border: 1px solid yellow;
  cursor: pointer;
}

#initial {
  width: 100%;
  text-align: center;
  color: white;
  font-size: 40px;
  top: 7px;
  left: 15px;
  position: relative;

}

.icon-options {
  display: none;
  background-color: #f1f1f1;
  min-width: 160px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.icon-options a {
  color: black;
  font-weight: bold;
  font-size: 20px;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.icon-options a:hover {
  background: var(--primaryColor);
  transition: 0.2s all ease-in-out;
}

/* Products */

.single-bricks {
  cursor: pointer;
  width: fit-content;
}

.item {
  margin: 2px;
  border: 1px solid grey;
  height: auto;
  width: auto;
  float: left;
  text-align: center;
}

.item .item-container {
  display: grid;
  height: 22vh;
  margin: 0 auto;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  position: relative;
}

.item img {
  width: 250px;
  height: 250px;
  display: inline;
  margin: 3px;
}

.item img:hover {
  border: 1px solid yellow;
}

.product-img {
  border: 1px solid red;
}

#product-name {
  font-size: 1.4rem;
}

.item .fa-plus-square {
  font-weight: 200;
  font-size: 1.2rem;
}

.item .item-container .product-info {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 15% .75rem .75rem .75rem;
  background-color: transparent;
  background-position-y: -1px;
  text-align: left;
}


.item .item-container .add-to-basket {
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 30px;
  right: 10px;

  position: absolute;
}

.btn {
  border: none;
  border-radius: 8px;
  cursor: pointer;
  color: var(--mainWhite)
}


/* TODO: Move Button (margin-left not working?) */
.btn-atb {
  background-color: var(--primaryColor);
  padding: 8px;
  text-align: center;
}

/* ---------------End of Products ---------------- */
/* --------------- basket ---------------- */
.basket-overlay {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  transition: var(--mainTransition);
  background: rgb(240, 157, 81, 0.5);
  z-index: 2;
  visibility: hidden;
}

.basket {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  overflow: scroll;
  z-index: 3;
  background: rgb(231, 226, 221);
  padding: 1.5rem;
  transition: var(--mainTransition);
  transform: translateX(100%);
}

/* Dynamically added with JS */
.showBasket {
  transform: translateX(0);
}

.transparentBcg {
  visibility: visible;
}

@media screen and (min-width: 768px) {
  .basket {
    width: 30vw;
    min-width: 450px;
  }
}

.close-basket {
  font-size: 1.7rem;
  cursor: pointer;
}

.basket h2 {
  text-transform: capitalize;
  text-align: center;
  letter-spacing: var(--mainSpacing);
  margin-bottom: 2rem;
}

/* TODO: replace pixels. */

/*---------- basket Item -------------------- */
.basket-item {
  display: grid;
  align-items: center;
  grid-template-columns: auto 1fr auto;
  grid-column-gap: 1.5rem;
  margin: 1.5rem 0;
}

.basket-item img {
  width: 75px;
  height: 75px;
}

.basket-item h4 {
  font-size: 0.85rem;
  text-transform: capitalize;
  letter-spacing: var(--mainSpacing);
}

.basket-item h5 {
  margin: 0.5rem 0;
  letter-spacing: var(--mainSpacing);
}

.item-amount {
  text-align: center;
}

.remove-item {
  color: grey;
  cursor: pointer;
}

.fa-chevron-up,
.fa-chevron-down {
  color: var(--basketBtn);
  cursor: pointer;
}

/*---------- End of basket Item -------------------- */

.basket-footer {
  margin-top: 2rem;
  letter-spacing: var(--mainSpacing);
  text-align: center;
}

.basket-footer h3 {
  text-transform: capitalize;
  margin-bottom: 1rem;
}

/* --------------- End of basket ---------------- */


/* --------------- CHECKOUT PAGE -------------- */

.no-display {
  display: none !important;
}

.checkout-sections-container {
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  grid-template-rows: 0.3fr .9fr 0.9fr 2.2fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "checkout-page-header checkout-page-header"
    "address-section ."
    "payment-method-section summary-section"
    "review-section summary-section";
}

.checkout-page-header {
  grid-area: checkout-page-header;
}

.address-section {
  display: grid;
  grid-template-columns: 1fr 1.9fr 0.6fr;
  grid-template-rows: repeat(2, 1fr);
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "address-header display-address change-address"
    "address-header display-address change-address";
  grid-area: address-section;
}

.change-address {
  grid-area: change-address;
}

.display-address {
  grid-area: display-address;
}

.address-header {
  grid-area: address-header;
}

/* Payment Section Styles */
.payment-method-section {
  display: grid;
  grid-template-columns: 1fr 1.9fr 0.6fr;
  /* grid-template-rows: repeat(2, 1fr); */
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "payment-method-header payment-info-container change-payment"
    "payment-method-header promo-code change-payment";
  grid-area: payment-method-section;
}

.change-payment {
  grid-area: change-payment;
}

.payment-info-container {
  grid-area: payment-info-container;
}

.payment-input-fields>* {
  margin-bottom: 1rem;
}

.payment-card-input-container {
  margin-top: 1rem;
}

.promo-code {
  grid-area: promo-code;
}

.payment-method-header {
  grid-area: payment-method-header;
}

/* Review Section Styles */
.review-section {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.2fr 2.3fr 0.5fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "review-header"
    "checkout-items-container"
    "review-section-footer";
  grid-area: review-section;
}

.review-header {
  grid-area: review-header;
}

.checkout-items-container {
  grid-area: checkout-items-container;
  max-height: 30vh;
  overflow-x: hidden;
  overflow-y: scroll;
  border: solid 1px grey;
}

.checkout-item {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #ccc;
}

#checkout-item-img {
  height: 10vw;
}

#checkout-total {
  text-align: -webkit-right;
}

#checkout-item-name {
  font-size: 1.5rem;
  margin-bottom: 0.3rem;
}

#checkout-item-price {
  font-size: 1.7rem;
  font-weight: 600;
}

.checkout-price-quantity {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 25%;
  min-width: 87px;
}

.checkout-item-quantity {
  font-size: 1.5rem;
}

.review-box {
  border: solid 1px grey;
}

.review-box-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 5vh;
  max-width: 20%;
  margin: 0 auto;
}

.box-title-items {
  color: grey;
}

.review-box-order-total {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  margin: 1.5rem 0;
}

.review-section-footer {
  grid-area: review-section-footer;

  display: flex;
  justify-content: center;
  align-items: center;
}

.continue-shopping {
  position: absolute;
  left: 2rem;
  font-size: 1.3rem;
}

.empty-continue-btn,
.buy-btn {
  height: 4vh;
  width: 10vw;
  border-radius: 10%;
  font-size: 2rem;
}

.empty-checkout {
  position: absolute;
  top: 10%;
  left: 10%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

#empty-checkout-msg {
  font-size: 2rem;
}

.empty-continue-btn {
  width: initial;
  padding: 1rem;
  margin-top: 1rem;
}

/* Summary Section Styles */
.summary-section {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    ". . ."
    ". . ."
    ". . .";
  grid-area: summary-section;
}


/* Custom */
.section-header {
  display: flex;
  justify-content: flex-start;
  margin-left: 1.2rem;
  font-size: 1.4rem;
}

.header-title {
  margin-left: 1.2rem;

}

.display-address-ul {
  font-size: 1.4rem;
}

.change-address,
.change-payment {
  font-size: 1.25rem;
}

.promo-prompt {
  font-size: 1.2rem;
  margin-bottom: 0.65rem;
}

#empty-checkout {
  position: absolute;
}



/* --------------- ADMIN ---------------- */
/* common styles */



*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  outline: none;
}

ul {
  list-style: none;
}

a,
button {
  color: inherit;
}

a {
  text-decoration: none;
}

button {
  background: none;
}

input {
  -webkit-appearance: none;
}

body {
  background-color: #f0f8fd;
}

button:not(:disabled),
[type="button"]:not(:disabled),
[type="reset"]:not(:disabled),
[type="submit"]:not(:disabled) {
  cursor: pointer;
}

.container {
  height: 100vh;
  width: 100vw;
}

/* end of common styles */
.admin-nav {
  position: relative;
  width: 100%;
  height: 6.5rem;
  background-color: #fff;
  display: flex;
  justify-content: center;
  box-shadow: 0 0 0.7rem rgba(0, 0, 0, 0.3);
  transition: 0.5s all ease-in-out;
}

.admin-nav .logo {
  position: absolute;
  left: 0.5rem;
  width: 20rem;
  height: 6.5rem;
}

.admin-nav .logo img {
  height: 100%;
}

.admin-nav .icons {
  display: flex;
  align-items: center;
}

.badge {
  position: absolute;
  top: 10%;
  left: 7%;
  width: 2rem;
  height: 2rem;
  font-size: small;
  background-color: #eb4961;
  border-radius: 50%;
  padding: 0.2rem 0.5rem;
  color: #fff;
}

.badge span {
  text-align: center;
}

.admin-nav .nav-item {
  transition: 0.5s all ease-in-out;
}

.admin-nav .nav-item:hover {
  color: var(--sidebar-bgColor);
}

.admin-nav .icons.left {
  position: relative;
  left: -15%;
}

.admin-nav .icons.right {
  position: relative;
  right: -30%;
}

.admin-nav .icons a {
  text-decoration: none;
  margin-right: 3rem;
  font-size: 2.5rem;
  color: #97989a;
}

.admin-nav .icons .active {
  color: #1aa1f5;
}

.admin-nav .user {
  position: absolute;
  right: 0.5rem;
  top: 1rem;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.admin-nav .user-img-wrapper {
  width: 4rem;
  height: 4rem;
}

.admin-nav .user-img-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  border-radius: 50%;
}

.admin-nav .user-link {
  margin: 0 1rem;
  text-decoration: none;
  font-size: 1.8rem;
  color: #444444;
}

.badge {
  position: absolute;
  top: 10%;
  left: 7%;
  width: 2rem;
  height: 2rem;
  font-size: small;
  background-color: #eb4961;
  border-radius: 50%;
  padding: 0.2rem 0.5rem;
  color: #fff;
}

.badge span {
  text-align: center;
}

/* main */
.main {
  display: grid;
  grid-template-columns: 28rem 2fr;
  overflow: hidden;
  height: calc(100vh - 6.5rem);
  transition: 0.5s all ease-in-out;
}

.sidebar {
  grid-column: 1 / 2;
  height: 100vh;
  overflow: auto;
  color: var(--sidebar-txtColor);
  background: var(--sidebar-bgColor);
}

.sidebar>h3 {
  margin-top: 3rem;
  font-size: 2.5rem;
  padding: 1rem;
  text-transform: uppercase;
}

.sidebar .menu {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.sidebar .menu li:last-child {
  margin-top: auto;
  margin-bottom: 1.5rem;
}

.sidebar .menu li>* {
  width: 100%;
  padding: 1.5rem 2rem;
}

.sidebar .menu .menu-heading h3 {
  letter-spacing: 0.15em;
  font-size: 1.5rem;
  margin-left: 2rem;
  color: var(--white);
}

.sidebar .menu li:not(:first-child) {
  border: 0.125rem solid #002549;
}

.sidebar .menu li a {
  font-size: 1.5rem;
}

.sidebar .menu i {
  color: var(--icon-color);
  margin-right: 0.8rem;
}

.sidebar .menu a,
.sidebar .menu button {
  display: flex;
  align-items: center;
  font-size: 0.9rem;
}

.sidebar .menu a:hover,
.sidebar .menu a:focus,
.sidebar .menu button:hover,
.sidebar .menu button:focus {
  background: var(--sidebar-bgColor-hover);
  color: var(--white);
  outline: none;
}

.sidebar .menu a.active {
  background: var(--sidebar-bgColor-hover);
  color: var(--white);
  outline: none;
}

.page-content {
  grid-column: 2 / -1;
  margin: 3rem;
  overflow: hidden;
}

.page-content .header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.page-content .header .info {
  display: flex;
  flex-direction: column;
}

.page-content .header .info p {
  font-size: 1.5rem;
  padding: 0.6rem;
}

.page-content .header .info p:first-child {
  color: #807f84;
}

.page-content .header .info p span {
  color: #f279c8;
  font-size: small;
}

.page-content .header .dropdown {
  margin-left: auto;
}

@media (max-width: 626px) {
  .admin-nav .icons a {
    margin-right: 1.5rem;
    font-size: 2rem;
  }

  .admin-nav .user .user-link {
    display: none;
  }

  .main {
    grid-template-columns: 4rem 2fr;
  }

  .sidebar .menu li>* {
    padding: 1rem;
  }

  .sidebar .menu i {
    margin-right: 0;
  }

  .sidebar .menu a span,
  .sidebar>h3,
  .sidebar .menu-heading {
    display: none;
  }
}

@media (max-width: 576px) {
  .badge {
    top: 0.8rem;
    padding: 0.2rem 0.5rem;
  }

  .admin-nav .icons a {
    right: -100%;
  }
}

@media (max-width: 544px) {
  .admin-nav .icons.right {
    right: -25%;
  }

  .admin-nav .icons.left {
    position: absolute;
    top: 2rem;
    left: 45%;
  }
}

@media (max-width: 430px) {
  .admin-nav .logo {
    left: -2rem;
  }
}

@media (max-width: 428px) {
  .admin-nav .icons.right {
    right: -33%;
  }
}

/* Remove Page */

#server-response {
  border: 1px dashed black;
  min-width: 10em;
  min-height: 1em;
  padding: .5em;
}


.remove-heading {
  font-size: 2.4rem;
}

#id-input {
  height: 2.5rem;
  padding: 1rem;
  margin: 1rem 0;
}

.remove-prompt {
  font-size: 1.8rem;
  margin: 0.1rem 0;
}